<domain_name>, *.<domain_name> {
        tls {
                dns desec {
                        token <desec-token>
                }
        }

        @wgeasy host wge.<domain_name>
        reverse_proxy @wgeasy wg-easy:51821
}
